extends layout

block content
  h1= title
  p Welcome to #{title}
  a(href='/new') Add New Message
  
  each message in messages
    ul
      li= message.text
      li= message.user
      li= message.added
